.wrapper {
    height: 100vh;
    display: flex;
    flex-direction: column;
    line-height: 20px;
    justify-content: center;
    align-items: center;
}

.wrapper a {
    text-decoration: none;
    color: #8A2BE2;
}